/*Main*/

html{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/*City-card*/

.card {
    width: 400px;
    padding: 0.5em;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



/*Expand-content*/

.expandMoreContent {
    height: 1em;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    position: relative;
}

.expandMoreContent.expand-active {
    height: auto;
    transition: height 0.5s ease-in-out;
}

.expandMoreHolder{
    padding: 1em 0;
    text-align: center
}



/*Select function*/

select{
    background-color: white;

    padding: 0.5em 1em;
    margin: 0;
    border-radius: 5px;

    cursor: pointer;
    outline: none;   
}

select#select{
    margin: 0;
}



/*Buttons*/

.btn-expand-more {
    cursor: pointer;
    display: inline-block;
}

button.nextpage {
    background-color: grey;

    width: 10em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    width: 2em;
    height: auto;

    padding: 0.5em 0.7em;
    background-color: #06c;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
}



/*Images*/

img{
    width: 25em;
    height: auto;
}



/*Text*/

p {
    padding-top: 2em;
}



/*Links*/

a{
    outline: none;
    color: white;
    text-decoration: none;
}
